---
title: Article Preview Component - @RobinCsl
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
</head>
<body class="bg-red-400">
    {{ content | safe }}
</body>
</html>